
<div class="main">
  <section class="signup">
    <div class="container">
      <h2 class="form-title">Sign UP</h2>
      <div class="signup-content">
        <div class="row signup-form">
          <form   #f="ngForm" class="register-form col-lg-6 .col-md-6 col-12">
            <div class="form-group col-12">
               <!-- <input
                type="text"
                name="name"
                id="name"
                placeholder="Your Name"
                class="name"
              />
              <input
              type="text"
              name="desc"
              id="name"
              placeholder="Your Name"
              class="name"
            /> -->
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Your Name"
                class="name"
                ngModel
              />
            </div>
            <div class="form-group col-12">
              <input
                type="text"
                name="email"
                id="email"
                placeholder="Your Email"
                ngModel
              />
            </div>

            <div class="form-group col-12">
              <input
                type="password"
                name="password"
                id="pass"
                placeholder="Password"
                ngModel
              />
            </div>
            <!-- <div class="form-group col-12">
              <input
                type="number"
                name="phone"
                id="phone"
                placeholder="phone"
                ngModel
              />
            </div> -->


            <!-- <div class="form-group col-12">
              <input
                type="password"
                name="re_pass"
                id="re_pass"
                placeholder="Repeat your password"
              />
            </div> -->

            <div class="form-group form-button col-12">
             
            </div> 
            <button type="submit" id="signup"
            class="btn btn-secondary" (click)="register()" > Register </button>
          </form>
          <div class="col-lg-6 .col-md-6 col-sm-12 image">
            <img src="../../assets/img/signup-image.jpg" alt="sing up image" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
