<div class="hero">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 hero-right">
            <div class="owl-carousel owl-theme hero-carousel owl-loaded owl-drag">
              <div class="owl-stage-outer">
                <div
                  class="owl-stage"
                  style="
                    transform: translate3d(-1100px, 0px, 0px);
                    transition: all 0s ease 0s;
                    width: 3850px;
                  "
                >
                  <div
                    class="owl-item cloned"
                    style="width: 540px; margin-right: 10px"
                  >
                    <div class="item">
                      <img
                        class="img-fluid"
                        src="../../../assets/img/hero-2.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div
                    class="owl-item cloned"
                    style="width: 540px; margin-right: 10px"
                  >
                    <div class="item">
                      <img
                        class="img-fluid"
                        src="../../../assets/img/hero-3.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div
                    class="owl-item active"
                    style="width: 540px; margin-right: 10px"
                  >
                    <div class="item">
                      <img
                        class="img-fluid"
                        src="../../../assets/img/hero-1.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="owl-item" style="width: 540px; margin-right: 10px">
                    <div class="item">
                      <img
                        class="img-fluid"
                        src="../../../assets/img/hero-2.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="owl-item" style="width: 540px; margin-right: 10px">
                    <div class="item">
                      <img
                        class="img-fluid"
                        src="../../../assets/img/hero-3.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div
                    class="owl-item cloned"
                    style="width: 540px; margin-right: 10px"
                  >
                    <div class="item">
                      <img
                        class="img-fluid"
                        src="../../../assets/img/hero-1.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div
                    class="owl-item cloned"
                    style="width: 540px; margin-right: 10px"
                  >
                    <div class="item">
                      <img
                        class="img-fluid"
                        src="../../../assets/img/hero-2.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-nav">
                <div class="owl-prev">
                  <span class="lnr lnr-chevron-left"></span>
                </div>
                <div class="owl-next">
                  <span class="lnr lnr-chevron-right"></span>
                </div>
              </div>
              <div class="owl-dots disabled"></div>
            </div>
          </div>
        <div class="col-lg-6 hero-left">
          <h1 class="display-4 mb-5">About Us !</h1>
          <div class="mb-2">
            After 30 years in its Morristown location, Portofino's enjoys a fine reputation as a warm and welcoming destination for a delicious dinner, business luncheon, or casual gathering of family and friends. Offering Italian classics combined with tempting new creations, with a focus on seafood, our values are to bring wonderful food, exceptional personal service and inviting décor to your table; celebrating the very best of the Italian dining experience.
          </div>
        </div>
        
      </div>
    
    </div>
   
  </div>

  <!-- <div class="container">
      <div class="row">
 <div class="space">nnnnnnnnnnnnnn</div>
      </div>
  </div> -->