
<div class="container my-5">
  <div class="row">
    <div class="col-md-6 col-12">
      <img style="width: 100%;" src="../../assets/img/9693be93-87be-49de-9d30-428e3d53062a.jpg" alt="" />
    </div>
    <div class="col-md-6 col-12">
      <h1 class="display-4 my-3">About Us !</h1>
      After 30 years in its Morristown location, Portofino's enjoys a fine
      reputation as a warm and welcoming destination for a delicious dinner,
      business luncheon, or casual gathering of family and friends. Offering
      Italian classics combined with tempting new creations, with a focus on
      seafood, our values are to bring wonderful food, exceptional personal
      service and inviting décor to your table; celebrating the very best of the
      Italian dining experience.
      <div class="row justify-content-end" >
        <div class="col-6  text-end mx- my-4">
          <a routerLink="/menu" class="btn-primary mt-3"
          >Explore Our menu <span><i class="fa fa-long-arrow-right"></i></span
        ></a>
        </div>
      </div>
     
    </div>
  </div>
</div>
