<div class="main">
  <section class="signup">
    <div class="container">
      <h2 class="form-title">Sign In</h2>
      <div class="signup-content">
        <div class="row signup-form">
          <form class="register-form col-lg-6 .col-md-6 col-12">
            <div class="form-group col-12">
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Your Email"
              />
            </div>

            <div class="form-group col-12">
              <input
                type="password"
                name="pass"
                id="pass"
                placeholder="Password"
              />
            </div>
            <div class="form-group form-button col-12">
              <input
                type="submit"
                name="signup"
                id="signup"
                class="btn btn-primary button"
                value="Login"
              />
            </div>
          </form>
          <div class="col-lg-6 .col-md-6 col-sm-12 image">
            <img src="../../assets/img/signup-image.jpg" alt="sing up image" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
