
.shoping{
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.ciircle{
    width: 15px;
    background-color: #f17897;
    height: 15px;
    border-radius: 100%;
    position: absolute;
    top: -7px;
    left: 10px;
    text-align: center;
    color: #565b60;
    font-size: 10px;
    padding: 2px;
}
.hidden{
    display: none;
}
i{
    color: #6c6969;
    font-size: 23px;
}
