body{
    margin: 0;
    padding: 0;
    font: 400 .875rem 'Open Sans', sans-serif;
    /* color: #bcd0f7; */
    /* background: gray;
    position: relative; */
    height: 100%;
    /* color: white; */
}
.invoice-container {
    padding: 1rem;
}
.invoice-container .invoice-header .invoice-logo {
    margin: 0.8rem 0 0 0;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    /* color: #bcd0f7; */
    /* color: white; */
}
.invoice-container .invoice-header .invoice-logo img {
    max-width: 130px;
}
.invoice-container .invoice-header address {
    font-size: 0.8rem;
    /* color: #8a99b5; */
    margin: 0;
    /* color: white; */
}
.invoice-container .invoice-details {
    margin: 1rem 0 0 0;
    padding: 1rem;
    line-height: 180%;
    /* background: gray; */
}
.invoice-container .invoice-details .invoice-num {
    text-align: right;
    font-size: 0.8rem;
}
.invoice-container .invoice-body {
    padding: 1rem 0 0 0;
}
.invoice-container .invoice-footer {
    text-align: center;
    font-size: 0.7rem;
    margin: 5px 0 0 0;
}

.invoice-status {
    text-align: center;
    padding: 1rem;
    /* background: gray; */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.invoice-status h2.status {
    margin: 0 0 0.8rem 0;
}
.invoice-status h5.status-title {
    margin: 0 0 0.8rem 0;
    /* color: #8a99b5; */
    /* color: white; */
}
.invoice-status p.status-type {
    margin: 0.5rem 0 0 0;
    padding: 0;
    line-height: 150%;
}
.invoice-status i {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    display: inline-block;
    padding: 1rem;
    /* background: gray; */
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.invoice-status .badge {
    text-transform: uppercase;
    /* color: white; */
}

@media (max-width: 767px) {
    .invoice-container {
        padding: 1rem;
    }
}

.card {
    /* background: gray; */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

.custom-table {
    border: 1px solid gray;
}
.custom-table thead {
    /* background: gray; */
}
.custom-table thead th {
    border: 0;
    /* color: #ffffff; */
}
/* .custom-table > tbody tr:hover {
    background: gray;
} */
.custom-table > tbody tr:nth-of-type(even) {
    /* background-color:gray; */
}
.custom-table > tbody td {
    border: 1px solid gray;
}

.table {
    /* background: gray; */
    /* color: #bcd0f7; */
    font-size: .75rem;
    /* color: white; */
}
.text-success {
    color: #c0d64a !important;
}
.custom-actions-btns {
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.custom-actions-btns .btn {
    margin: .3rem 0 .3rem .3rem;
}
.center{     
    margin: auto;
    width: 70%;
    padding: 10px;
  }
  
 .divcont{ 	
	   margin-top: 50px;
} 