<section id="gtco-special-dishes" class="bg-grey section-padding">
  <div class="container">
    <div class="section-content">
      <div class="heading-section text-center">
        <span class="subheading"> Specialties </span>
        <h2>Special Dishes</h2>
      </div>
      <div class="row mt-5" id="meal1">
        <div class="col-lg-5 col-md-6 align-self-center py-5">
          <h2 class="special-number">01.</h2>
          <div class="dishes-text">
            <h3>
              <span>New One</span><br />
              {{ SpecialMeal?.[0].name }}
            </h3>
            <p class="pt-3">
              {{ SpecialMeal?.[0].description }}

            </p>
            <h3 class="special-dishes-price">${{ SpecialMeal?.[0].price }}</h3>

            <a href="#" class="btn-primary mt-3">book a table<span><i class="fa fa-long-arrow-right"></i></span
              ></a>
          </div>
        </div>
        <div
          class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0"
        >
          <img
            src="{{ SpecialMeal?.[0].media[0].original_url }}"
            alt=""
            class="img-fluid shadow w-100"
          />
        </div>
      </div>
      <div class="row mt-5" id="meal2">
        <div
          class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0"
        >
          <img
            src="{{ SpecialMeal?.[1].media[0].original_url }}"
            alt=""
            class="img-fluid shadow w-100"
          />
        </div>
        <div
          class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2 py-5"
        >
          <h2 class="special-number">02.</h2>
          <div class="dishes-text">
            <h3>
              <span>Best Seller</span><br />
              {{ SpecialMeal?.[1].name }}
            </h3>
            <p class="pt-3">
              {{ SpecialMeal?.[1].description }}

            </p>
            <h3 class="special-dishes-price">${{ SpecialMeal?.[1].price }}</h3>
            <a href="#" class="btn-primary mt-3"
              >book a table <span><i class="fa fa-long-arrow-right"></i></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
