<section id="gtco-testimonial" class="overlay bg-fixed section-padding" style="background-image: url(../../../assets/img/testi-bg.jpg);" data-stellar-background-ratio="0.8">
    <div class="container">
        <div class="section-content">
            <div class="heading-section text-center">
                <span class="subheading">
                    Testimony
                </span>
                <h2>
                    Happy Customer
                </h2>
            </div>
            <div class="row">
                <!-- Testimonial -->
                <div class="testi-content testi-carousel owl-carousel owl-loaded owl-drag">
                    
                    
                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2300px, 0px, 0px); transition: all 1s ease 0s; width: 6900px;"><div class="owl-item cloned" style="width: 1140px; margin-right: 10px;"><div class="testi-item">
                        <i class="testi-icon fa fa-3x fa-quote-left"></i>
                        <p class="testi-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p class="testi-author">John Doe</p>
                        <p class="testi-desc">CEO of <span>GetTemplates</span></p>
                    </div></div><div class="owl-item cloned" style="width: 1140px; margin-right: 10px;"><div class="testi-item">
                        <i class="testi-icon fa fa-3x fa-quote-left"></i>
                        <p class="testi-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci non doloribus ut, alias doloremque perspiciatis.</p>
                        <p class="testi-author">Mary Jane</p>
                        <p class="testi-desc">CTO of <span>Unidentity Inc</span></p>
                    </div></div><div class="owl-item active" style="width: 1140px; margin-right: 10px;"><div class="testi-item">
                        <i class="testi-icon fa fa-3x fa-quote-left"></i>
                        <p class="testi-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p class="testi-author">John Doe</p>
                        <p class="testi-desc">CEO of <span>GetTemplates</span></p>
                    </div></div><div class="owl-item" style="width: 1140px; margin-right: 10px;"><div class="testi-item">
                        <i class="testi-icon fa fa-3x fa-quote-left"></i>
                        <p class="testi-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci non doloribus ut, alias doloremque perspiciatis.</p>
                        <p class="testi-author">Mary Jane</p>
                        <p class="testi-desc">CTO of <span>Unidentity Inc</span></p>
                    </div></div><div class="owl-item cloned" style="width: 1140px; margin-right: 10px;"><div class="testi-item">
                        <i class="testi-icon fa fa-3x fa-quote-left"></i>
                        <p class="testi-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p class="testi-author">John Doe</p>
                        <p class="testi-desc">CEO of <span>GetTemplates</span></p>
                    </div></div><div class="owl-item cloned" style="width: 1140px; margin-right: 10px;"><div class="testi-item">
                        <i class="testi-icon fa fa-3x fa-quote-left"></i>
                        <p class="testi-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci non doloribus ut, alias doloremque perspiciatis.</p>
                        <p class="testi-author">Mary Jane</p>
                        <p class="testi-desc">CTO of <span>Unidentity Inc</span></p>
                    </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>
                <!-- End of Testimonial -->
            </div>
        </div>
    </div>
</section>