<!-- <div class="menus d-flex align-items-center">
    <div class="menu-img rounded-circle">
        <img class="img-fluid" src="../../../../assets/img/breakfast-1.jpg" alt="">
    </div>
    <div class="text-wrap">
        <div class="row align-items-start">
            <div class="col-8">
                <h4>{{ mymeal }}</h4>
            </div>
            <div class="col-4">
                <h4 class="text-muted menu-price">$30</h4>
            </div>
        </div>
        <p>Meat Ball, Mie</p>
    </div>
</div> -->
<!-- <div class="container">
    <div class="row"> -->
<!-- <div class="col-6"> -->

<div class="card" width="100%">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h4>{{ mymeal.name }}</h4>
      <h4>100$</h4>
    </div>


    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </div>
  <img src="{{ mymeal.img }}" class="card-img-top" alt="..." />
  <div class="d-flex justify-content-center" id="fav">
    <span><i class="fa-solid fa-heart" id="love" (click)="getMeal(mymeal)"></i></span>
    <span><i class="fa-solid fa-cart-shopping" id="cart" (click)="addorder(mymeal)"></i></span>
  </div>

</div>