
<div class="container" style="margin-top: 50px">
  <div class="row">
    <div class="col-md-12">
      <div class="card-sl">
        <div class="card-image">
          <img
            style="height: 287px; width: 100%"
            src="{{ meal.media[0].original_url }}"
          />
        </div>
        <a class="card-action" (click)="addFavourite(meal)"
          ><i class="fa fa-heart"></i
        ></a>
        <div
          class="card-heading"
          routerLink="/menu/{{ meal.name }}"
          (click)="ShowMeal(meal)"
          style="cursor: pointer"
        >
          {{ meal.name }}
        </div>
        <div class="card-text">
          {{ meal.description }}
        </div>
        <div class="card-text">$ {{ meal.price }}</div>
        <a (click)="addorder(meal)" class="card-button"> Add To Cart</a>
      </div>
    </div>
  </div>
</div>
