<div class="container main">
  <div class="container mb-5">
    <div
      class="row justify-content-center mb-5"
      *ngFor="let order of uniqueOrder"
    >
      <div class="col-10 d-flex orderContainer">
        <div class="col-md-4">
          <img src="{{ order.media[0].original_url }}" class="card-img-top" />
        </div>
        <div class="col-md-7 ps-5">
          <h4 class="special">{{ order.name }}</h4>
          <div class="ps-5">
            <p class="py-2">
              {{ order.description }}
            </p>
            <div *ngFor="let opt of order.option">
              <input
                (click)="Option(order, opt.id)"
                type="radio"
                name="{{ order.id }}"
              />
              <label for="radio">{{ opt.name }}</label>
            </div>
            <h4>${{ order.price }}</h4>
            <div class="d-flex justify-content-between">
              <button class="btn btn-primary" (click)="delateMeal(order)">
                Delete
              </button>

              <button class="counter" (click)="addQty(order)">
                <i class="fa-solid fa-circle-plus"></i>
              </button>
              <h4 class="pt-2">Qty:{{ order.count }}</h4>
              <button class="counter" (click)="decQty(order)">
                <i class="fa-solid fa-circle-minus"></i>
              </button>
            </div>
            <!-- <button class="btn btn-primary" (click)="addOthrMeal(order)">
              Add Meal with Other Option
            </button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center" *ngIf="!display">
        <div class="col-5 d-flex justify-content-center">
          <h3 class="card-title mx-4">Total</h3>
          <h3 class="card-text">${{ CalcPrice() }}</h3>
        </div>
      </div>
      <div class="row justify-content-end" *ngIf="!display">
        <div class="col-5 d-flex justify-content-end">
          <a class="btn btn-primary" (click)="orderNow()">Checkout</a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="display">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div>
          <i class="fa-solid fa-cart-shopping" style="font-size: 100px"></i>
          <p>Card order Empty</p>
          <!-- <img src="../../assets/emptycart.png" /><br> -->
          <button class="btn btn-primary" routerLink="/menu">
            got to order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <button (click)="CalcPrice()">calc</button> -->
