
<div class="container m">
 <div class="row">
<div class="col-md-5 divCard" *ngFor="let order of listOrder">
<div class="card " >
  <img src="{{ order.img }}" class="card-img-top"   />
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h4>{{ order.name }}</h4>
        <h4>{{order.price}}</h4>
      </div>  

      <div class="d-flex justify-content-between">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of
          the card's content.
        </p>  
             
      </div>  
      <h4 class="card-text">
        {{order.count}} item
      </h4> 
      <!-- <div *ngIf="order.option">
        <div class="form-group__radio">
          <input #isSale=ngModel ngModel type="radio" name="onsale" id="" value={{order.option![0]}}>{{order.option![0]}}
          <input #isSale=ngModel ngModel type="radio" name="onsale" id="" value={{order.option![1]}}>{{order.option![1]}}
          {{isSale.value}}
      </div>
      <textarea placeholder="enter commmt"></textarea> -->
      <button class="btn btn-danger" (click)="delateMeal(order)">Delate</button>     
    </div>     
  </div>
</div>
</div>
<div class="card w-100" *ngIf="!display">
  <div class="card-body body" >
    <h5 class="card-title">Total</h5>
    <p class="card-text" >{{checkout()}}</p>
    <a  class="btn btn-primary" (click)="makeorder()">Checkout</a>
  </div>
</div>
</div>

<div *ngIf="display">
  <div class="container" >
    <div class="d-flex justify-content-center">
      <div >
    <i class="fa-solid fa-cart-shopping" style="font-size: 100px;"></i>
    <p> Card order Empty</p>
    <!-- <img src="../../assets/emptycart.png" /><br> -->
    <button class="btn btn-primary" routerLink="/menu">got to order</button>
  </div>
</div>
</div>
</div>

