.m{
    padding-top: 160px;
}
.card {
    border: 0;
      
  }
  img {
    border-radius: 4%;
    height: 30vh;
  }
  .divCard{   
    border-radius: 5%;   
    margin-bottom: 40px;   
      border-radius: 5%;
      border: 1px solid #9794908a;
      padding: 12px;
      margin-right: 65px;
  }
  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }
 .body{
  border: 1px solid;  
  padding: 50px;
  text-align: center;
  border-color: #52555530;
 } 
 .special{
  position: relative;
  font-size: 40px;
  color: #f34949;
    /* font-weight: 500   !important;   */
}
.orderContainer{
  height: 40vh;
}
.counter{
  border: 0;
  background-color: transparent;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 20px;
  height: 20px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  border: 6px solid black;
  outline: unset !important /* I added this one for Edge (chromium) support */
}