<div *ngIf="checked" class="container my-5">
  <div class="row justify-content-center">
    <div class="col-8 text-center">
      <img src="../../assets/img/green-check-mark.jpg" alt="" />
      <p class="my-5">
        Your Reservation Done Succesfully And your order will be prepared in
        restaurant
      </p>
    </div>
  </div>
</div>

<div *ngIf="!checked" class="container my-5">
  <div class="container mb-5">
    <div
      class="row justify-content-center mb-5"
      *ngFor="let order of uniqueOrder"
    >
      <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{ order.media[0].original_url }}"
              class="img-fluid rounded-start"
              alt="..."
              width="100%"
            />
          </div>
          <div class="col-md-8 ps-md-5">
            <div class="card-body">
              <h5 class="card-title">{{ order.name }}</h5>
              <p class="card-text">
                {{ order.description }}
              </p>
              <div *ngFor="let opt of order.option">
                <input
                  (click)="Option(order, opt.id)"
                  type="radio"
                  name="{{ order.id }}"
                />
                <label for="radio">{{ opt.name }} </label>
              </div>
              <p class="card-text"></p>
              <div class="d-flex justify-content-between">
                <button class="btn btn-primary" (click)="delateMeal(order)">
                  Delete
                </button>

                <button class="counter" (click)="addQty(order)">
                  <i class="fa-solid fa-circle-plus"></i>
                </button>
                <h4 class="pt-2">Qty:{{ order.count }}</h4>
                <button class="counter" (click)="decQty(order)">
                  <i class="fa-solid fa-circle-minus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center" *ngIf="!display">
        <div class="col-5 d-flex justify-content-center">
          <h3 class="card-title mx-4">Total</h3>
          <h3 class="card-text">${{ CalcPrice() }}</h3>
        </div>
      </div>
      <div class="row justify-content-end" *ngIf="!display">
        <div class="col-5 d-flex justify-content-end">
          <a class="btn btn-primary" (click)="orderNow()">Checkout</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="display">
  <div
    class="container-fluid"
    style="background-color: #f7f7f7; padding: 20px 0px"
  >
    <div class="row justify-content-center my-4">
      <div class="col-6 text-center">
        <img src="../../assets/img/empty.jpeg" alt="" />
      </div>
    </div>
    <div class="row justify-content-center my-4">
      <div class="col-4 text-center">
        <button class="btn btn-primary" routerLink="/menu">got to order</button>
      </div>
    </div>
  </div>
</div>
