<footer class="mastfoot pb-5 bg-white section-padding pb-0">
  <div class="inner container">
    <div class="row d-flex justify-content-between">
      <div class="col-lg-4">
        <div class="footer-widget pr-lg-5 pr-0">
          <img
            src="../../../assets/img/logo.png"
            class="img-fluid footer-logo mb-3"
            alt=""
          />
          <nav class="nav nav-mastfoot justify-content-start">
            <a class="nav-link" href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="nav-link" href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="nav-link" href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </nav>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer-widget pl-lg-5 pl-0">
          <h4>Location</h4>
          <p>
            <span><i class="fa-solid fa-location-dot"></i> </span
              ><span> 25757 Westheimer Parkway,Katy, TX 77494</span>
              <br>
              <span><i class="fa-solid fa-phone"></i></span
                ><span> +201545467842</span>
          </p>
        </div>
      </div>

      <div class="col-md-12 d-flex align-items-center">
        <p class="mx-auto text-center mb-0">
          Copyright 2019. All Right Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
