<h3 class="header">Your  Favourites <img src="../../assets/img/heart.png" alt=""> !!</h3>


<div class="container mt-4">

    <div class="row justify-content-center" >
      <div class="col-lg-3 col-md-4 m-3 col-sm-5 col-8"  *ngFor="let order of FevArray">
        <div class="card card-block">
          <h4 class="card-title special text-right"><i class="fa-solid fa-x" (click)="delete(order)"></i></h4>
          <img src="{{ order.media[0].original_url }}" alt="Photo of sunset">
          <div class="d-flex justify-content-between px-3">
          <h5   routerLink="/menu/{{ order.name }}"
          (click)="ShowMeal(order)"class="card-title mt-3 mb-3">{{ order.name }}</h5>
          <h5 class="card-title mt-3 mb-3">${{ order.price}}</h5>
        </div>
          <p class="card-text px-3">{{ order.description}}</p>
        </div>
      </div>
      
    </div>
    <!-- <div class="col-md-3 col-sm-6" style="height: 451px;"></div> -->
  </div>