img{
    height:150px;
    width:100%;
  }
  
  div [class^="col-"]{
    padding-left:5px;
    padding-right:5px;
  }
  .card{
    transition:0.5s;
    cursor:pointer;
  }
  .card-title{  
    font-size: 20px;
    transition:1s;
    cursor:pointer;
  }
  .card-title i{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#E34949;
  }
  .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#ad3348;
    
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .card-text{
    height:45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
    font-size: 14px;
    color: #636262;
  }
  
  .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }
  h4{
    padding-top: 22px;
    padding-bottom: 7px;
    padding-right: 12px;

  }
 h3{
   /* font-family:  'Courgette', cursive; */
   background-color: rgba(245, 222, 179, 0.425);
    padding: 20px;;
    color: black;
    text-align: center;
    margin: 42px 0px 42px;

 }
 h3 img{
  width: 27px;
  height: 31px;
 }